/* PALETTE: https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */

:root {
    --color-primary: #21573d;
    --color-secondary: #87341d;

    --color-dark: #3D405B;
    --color-light: #F4F1DE;
    --color-highlight: #f9e97f;
    --color-white: #FFFFFF;
}