:root {
    --color-primary: #21573d;
    --color-secondary: #87341d;

    --color-dark: #3D405B;
    --color-light: #F4F1DE;
    --color-highlight: #f9e97f;
    --color-white: #FFFFFF;
    --color-gray: #efefef;

    --font-title: Ubuntu;
    --font-body: Roboto;

    --tiny-size: 4px;
    --small-size: 8px;
    --normal-size: 16px;
    --big-size: 32px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    margin: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

header>h1 {
    padding: var(--normal-size);
    font-size: 24px;
}

header>#search {
    height: 100%;
    width: calc(100% - var(--normal-size));
    text-align: right;
}

header>#search>div {
    background-color: var(--color-white);
    border-radius: 100px;
    margin: var(--normal-size) 0;
    display: grid;
    grid-template-columns: calc(100% - 36px) 36px;
}

header>#search>div>input[type="text"] {
    height: 32px;
    border: none;
    font-size: 16px;
    background: none;
    padding: 0 0 0 10px;
}

header>#search>div>input[type="text"] {
    outline: none;
    border: none;
}

header>#search>div>button {
    border: none;
    background: none;
    cursor: pointer;
}

header>#search>div>button>img {
    width: 100%;
}

header>nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--color-gray);
    grid-column: span 2;
    width: 100%;
}

header>nav::-webkit-scrollbar {
    display: none;
}

header>nav>a {
    flex: 0 0 auto;
    color: var(--color-dark);
    text-decoration: none;
    padding: var(--normal-size) var(--normal-size);
    border-bottom: solid 3px var(--color-gray);
}

header>nav>a:hover {
    border-bottom: solid 3px var(--color-highlight);
}

header>nav>a.selected {
    border-bottom: solid 3px var(--color-secondary);
}

main>h2 {
    margin: var(--normal-size);
}

.plp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: space-between;
    gap: var(--normal-size);
    margin: var(--normal-size);
}

.plp>a {
    background-color: var(--color-gray);
    border-radius: var(--small-size);
    text-align: center;
    text-decoration: none;
    color: var(--color-dark);
    transition: all .2s ease-in-out;
    place-self: center;
    height: 100%;
}

.plp>a:hover {
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.55);
}

.plp>a>img {
    width: calc(100% - var(--big-size));
    height: auto;
    margin: var(--normal-size);
    margin-bottom: 0;
    border-radius: var(--small-size);
}

.plp>a>h3 {
    margin: var(--small-size);
}



footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    text-align: center;
}

footer>p:nth-child(1) {
    padding: var(--normal-size) var(--big-size) 0 var(--big-size);
}

footer>p:nth-child(2) {
    padding: 0 var(--big-size) var(--normal-size) var(--big-size);
}

footer>p>span {
    border-left: solid 1px var(--color-highlight);
    padding-left: var(--small-size);
    padding-right: var(--tiny-size);
}

footer>p>span:first-child {
    border: none;
    padding-left: 0;
}

footer>p#lastModified {
    margin-bottom: 0;
}


#pdp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: var(--normal-size);
    margin: var(--normal-size);
}

#pdp h2 {
    text-align: left;
    margin: 0;
}



#pdp-image img {
    width: 100%;
    height: auto;
    border-radius: var(--small-size);
}

#pdp-ingredients {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: var(--small-size);
}

#pdp-ingredients>*:not(h3) {
    border-bottom: solid 1px var(--color-gray);
    padding-bottom: var(--tiny-size);
}

#pdp-ingredients h3 {
    grid-column: span 2;
    margin-bottom: var(--normal-size);
}

#pdp-instructions h3 {
    margin-bottom: var(--normal-size);
}

#pdp-instructions p {
    margin-top: var(--small-size);
    display: inline-block;
}

#pdp-information>div {
    margin-top: var(--normal-size);
}

#pdp-information label {
    display: block;
    font-size: 14px;
}

#pdp-information-category {
    text-transform: uppercase;
    color: var(--color-secondary);
}

#pdp-information-source,
#pdp-information-area {
    color: var(--color-secondary);
}

#pdp-information-video iframe {
    border-radius: var(--small-size);
    width: 100%;
}