:root {
    --font-style-body: Roboto;
    --font-style-title: "Exo 2";

    --font-size-small: 12px;
    --font-size-body: 14px;
    --font-size-title: 22px;
    --font-size-small-title: 18px;

    --color-font-body: #151515;
    --color-font-title: #122d5b;

    --color-main: #3133ab;
    --color-secondary: #23051e;
    --color-tertiary: #43143b;

    --color-button-active: #57dd45;
    --color-button-pressed: #58a52f;
    --color-button-disabled: #c3c3c3;
    --color-button-hover: #58a52f;

    --color-links-active: #134584;
    --color-links-hover: #161c67;

    --color-text-note: #4d4d4d;

    --color-white: #FFF;
    --color-highlight: #fcffb0;
    --color-black: #000;

    --max-width: 1200px;

    --space-big: 32px;
    --space-normal: 16px;
    --space-small: 8px;
    --space-tiny: 4px;
}

body {
    margin: 0;
}

header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;
    font-family: var(--font-style-body);
    font-size: var(--font-size-body);
}

header {
    background-color: var(--color-main);
}

h1 {
    font-family: var(--font-style-title);
    font-size: var(--font-size-title);
    margin: 0;
    color: var(--color-white);
    padding: var(--space-normal) var(--space-big);
}

h1>span {
    color: var(--color-highlight);
    margin-left: var(--space-normal);
}

nav {
    display: flex;
    background-color: var(--color-secondary);
}

nav>a {
    flex: 1 1 100%;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: var(--space-normal) var(--space-big);
}

nav>a:hover {
    background-color: var(--color-tertiary);
}

main {
    padding: var(--space-normal) var(--space-big);
    display: grid;
    grid-template-columns: calc(60% - var(--space-small)) calc(40% - var(--space-small));
    gap: var(--space-normal);
}

.card {
    border: solid 1px var(--color-secondary);
    border-radius: var(--space-small);
}

.card>h1 {
    width: calc(100% - var(--space-big));
    padding: var(--space-small) var(--space-normal);
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-top-left-radius: var(--space-small);
    border-top-right-radius: var(--space-small);
}

.card .small-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: var(--space-small) var(--space-normal);
    border-bottom: solid 1px var(--color-main);
    font-size: var(--font-size-small-title);
    margin-bottom: var(--space-normal);
}

.card ul li a {
    color: var(--color-links-active);
    padding: var(--space-tiny) var(--space-small);
    display: inline-block;
    text-decoration: none;
}

.card ul li a:hover {
    color: var(--color-links-hover);
    text-decoration: underline;
}

.card#aboutMe {
    display: grid;
    grid-template-columns: auto 160px;
    grid-template-rows: 42px auto;
}

.card#aboutMe>h1 {
    grid-column: span 2;
}

.card#aboutMe>div:nth-child(2)>div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 42px auto;
    gap: var(--space-big);
}

.card#aboutMe>div:nth-child(2)>div .small-title {
    grid-column: span 2;
    height: var(--space-big);
}

.card#aboutMe>div:nth-child(2)>div>div>span {
    display: block;
    font-size: var(--font-size-small);
    font-style: italic;
    color: var(--color-text-note);
}

.card#aboutMe div:nth-child(2) img {
    max-width: 100px;
    height: auto;
}

.card#aboutMe>div:nth-child(2)>* {
    padding: var(--space-small) var(--space-big);
}


.card#aboutMe div:nth-child(3) img {
    width: calc(100% - var(--space-big));
    height: auto;
    margin: var(--space-normal);
    border-radius: var(--space-small);
}

footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

footer>p:nth-child(1) {
    padding: var(--space-normal) var(--space-big) 0 var(--space-big);
}

footer>p:nth-child(2) {
    padding: 0 var(--space-big) var(--space-normal) var(--space-big);
}

footer>p>span {
    border-left: solid 1px var(--color-text-note);
    padding-left: var(--space-small);
    padding-right: var(--space-tiny);
}

footer>p>span:first-child {
    border: none;
    padding-left: 0;
}